@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import "tailwindcss";

.aguafina-script-regular {
  font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal;
}
